<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- Configuration for Spring MVC -->
    <mvc:annotation-driven/>
    <context:component-scan base-package="com.example.ticketbooking"/>
    <bean id="fareGenerator" class="com.example.ticketbooking.FareGeneratorImpl">
        <property name="numberOfPersons" value="3" />
        <property name="fare" value="230" />
    </bean>
</beans>